body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 10px;
  width: 5%;
  margin: 100px auto 100px auto;

}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 312.5%;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.web {
  text-decoration: underline;
}

.top-container {
  background-color: #bce6eb;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.profile {
  padding-top: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background-color: #66BFBF;
  padding-bottom: 20px;
  padding-top: 20px;
  line-height: 2;
  margin-top: 40px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 60px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  top: 180px;
}

.programming {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.foodie {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-picture {
  width: 15%;
}

.footer-link {
  margin: 20px 20px;
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  margin: 40px auto 60px;
}

.btn {
  background: #98d0f5;
  background-image: -webkit-linear-gradient(top, #98d0f5, #1487cf);
  background-image: -moz-linear-gradient(top, #98d0f5, #1487cf);
  background-image: -ms-linear-gradient(top, #98d0f5, #1487cf);
  background-image: -o-linear-gradient(top, #98d0f5, #1487cf);
  background-image: linear-gradient(to bottom, #98d0f5, #1487cf);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #79def2;
  background-image: -webkit-linear-gradient(top, #79def2, #78b5de);
  background-image: -moz-linear-gradient(top, #79def2, #78b5de);
  background-image: -ms-linear-gradient(top, #79def2, #78b5de);
  background-image: -o-linear-gradient(top, #79def2, #78b5de);
  background-image: linear-gradient(to bottom, #79def2, #78b5de);
  text-decoration: none;
}
